<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel='stylesheet' href='/bundle.css?<%= build.revision %>' />
	</head>
	<body>
		<script src="/bundle.js?<%= build.revision %>"></script>
	</body>
</html>
